.panel {
  position: absolute;
  bottom: 0;

  .controls {
    position: relative;
    padding: 0 15px;
    display: grid;
    justify-items: center;
    margin: 2px 0 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
  }
}
